spring.config.activate.on-profile: local

oauth2:
  kakao:
    auth:
      client-id: 'test-client-id'
      client-secret: 'test-client-secret'
      client-name: 'test-client-name'
      authorization-grant-type: 'test-authorization-grant-type'
      redirect-uri: 'test-redirect-uri'
      scope:
        - 'test_scope'
      client-authentication-method: 'test-client-authentication-method'
    api:
      authorization-uri: 'test-authorization-uri'
      token-uri: 'test-token-uri'
      user-info-uri: 'test-user-info-uri'
      user-info-authentication-method: 'test-user-info-authentication-method'
      user-name-attribute: 'user-name-attribute'